doctype 5
html
  head
    title Growl notification
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    //- base(href="%baseurl%")
    style(type="text/css")
      body {
       //- border: 1px solid black;
      }
    style(type="text/css")
      @import URL("default.css");
  body
    .notification
      .slice
      h1 Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis pulvinar bibendum.
    img(src="growl.png")
    //- div(class="%priority%") 
    //- .normal
    //-      #close x
    //-      //- .notification(style="background: rgba(0,0,0,%opacity%);")
    //-      .notification
    //-        //- img(src="growlimage://%image%")
    //-        img(src="growl.png")
    //-        h1 Lorem ipsum dolor sit amet.
    //-        //- h1 %title%
    //-        //- p %text%
    //-        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis pulvinar bibendum. Proin non neque purus, porta pharetra nibh. Nunc facilisis sem non sapien lobortis tristique. Integer velit risus, dictum id suscipit a, malesuada a ligula. Aliquam arcu elit, volutpat quis tristique vitae, accumsan vel ipsum. 
        