@width: 300px;

@shadow-opacity: .3;
@shadow-offset: 1px;


@flip-count: 10;
@flip-delay: .2s;
@flip-transition: .2s;
@flip-length: .5s;
@flip-fade-duration: .3s;

@flip-total: @flip-transition * @flip-count;

@text-pause-duration: @flip-delay + @flip-total;
@text-duration: .5s;

@growl-move-duration: @flip-total;
@growl-delay-duration: 0;//@flip-length - @flip-delay;
@growl-fade-duration: .5s;

@flip-percentage: 100% / @flip-count;
@flip-width: @width / @flip-count;


html, body {
    font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
    width: @width;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    margin: 5px;
}

.container, .board, .board:before, .board:after {
    width: @width;
    height: 80px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}

.board {
    &:before, &:after {
        content:"";
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }

    &:before {
        background: -webkit-linear-gradient(-45deg, rgba(255,255,255, .3) 0%,rgba(255,255,255,0) 100%);
    }

    &:after {
        background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    }

    z-index: 1;
    position: relative;
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
    -webkit-box-shadow: 3px 3px 5px 0 black;
}

.slice(@index) {
    position: absolute;
    overflow: hidden;
    perspective: 300px;

    width: @flip-percentage;
    left: @flip-percentage * @index;

    @pause: @flip-delay + @flip-transition * @index;
    -webkit-transform-origin: bottom left;
    -webkit-animation: 'hide' @pause, 'flip' @flip-length @pause ease-in, 'fade-in' @flip-fade-duration @pause linear;

    div {
        left: -@flip-width * @index;
    }
}

.slice0 { .slice(0); }

.slice1 { .slice(1); }

.slice2 { .slice(2); }

.slice3 { .slice(3); }

.slice4 { .slice(4); }

.slice5 { .slice(5); }

.slice6 { .slice(6); }

.slice7 { .slice(7); }

.slice8 { .slice(8); }

.slice9 { .slice(9); }

.text {
    z-index: 10;
    overflow: hidden;
    margin: 10px;
    -webkit-animation: 'text-pause' @text-pause-duration, 'text' @text-duration @text-pause-duration linear;
}

.text-shaddow {
    text-shadow: rgba(0,0,0,@shadow-opacity) -@shadow-offset 0,
                 rgba(0,0,0,@shadow-opacity) 0 -@shadow-offset,
                 rgba(255,255,255,@shadow-opacity) @shadow-offset 0,
                 rgba(255,255,255,@shadow-opacity) 0 @shadow-offset,
                 rgba(0,0,0,@shadow-opacity) -@shadow-offset -@shadow-offset,
                 rgba(255,255,255,@shadow-opacity) @shadow-offset @shadow-offset;
}

h1 {
    .text;
    max-width: 230px;
    max-height: 17px;
    color: #ccccff;
    font-size: 16px;
    .text-shaddow
}

p {
    .text;
    max-width: 280px;
    max-height: 30px;
    color: white;
    font-size: 12px;
    .text-shaddow
}

img {
    z-index: 20;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 10px;
    top: 15px;
    opacity: .4;
    -webkit-transform: rotate(-20deg) scale(1.5, 1.5);
    -webkit-animation: 'growl' @growl-move-duration linear,
                       'delay' @growl-delay-duration @growl-move-duration,
                       'growl-fade' @growl-fade-duration @growl-delay-duration+@growl-move-duration;
}

.text-shadow(@direction) when (isnumber(@direction)) {
  text-shadow: rgba(0,0,0,@shadow-opacity) @direction*@shadow-offset 0,
               rgba(0,0,0,@shadow-opacity) 0 @direction*@shadow-offset,
               rgba(255,255,255,@shadow-opacity) -@direction*@shadow-offset 0,
               rgba(255,255,255,@shadow-opacity) 0 -@direction*@shadow-offset,
               rgba(0,0,0,@shadow-opacity) @direction*@shadow-offset @direction*@shadow-offset,
               rgba(255,255,255,@shadow-opacity) -@direction*@shadow-offset -@direction*@shadow-offset;
}

.text-state(up) {
  .text-shadow(1);
  -webkit-transform: translate(-1px, -1px);
}
.text-state(flat) {
  .text-shadow(0);
  -webkit-transform: translate(-.5px, -.5px);
}
.text-state(down) {
  .text-shadow(-1);
  -webkit-transform: translate(0, 0);
}

@-webkit-keyframes 'fade-in' {
  from {
      opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes 'text-pause' {
  from {
    .text-state(up);
  }
  to {
    .text-state(up);
  }
}
@-webkit-keyframes 'text' {
  0% {
    .text-state(up);
  }
  50% {
    .text-state(flat);
  }
  100% {
    .text-state(down);
  }
}

@-webkit-keyframes 'growl' {
  0% {
    opacity: 1;
    -webkit-transform: translate(-300px,0);
  }
  100%{
    opacity: 1;
    -webkit-transform: translate(0,0);
  }
}

@-webkit-keyframes 'delay' {
    0% {
       opacity: 1;
       -webkit-transform: translate(0,0);
    }
    100%{
       opacity: 1;
       -webkit-transform: translate(0,0);
    }
}


@-webkit-keyframes 'growl-fade' {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0);
  }
  100% {
    opacity: .4;
    -webkit-transform: rotate(-20deg) scale(1.5, 1.5);
  }
}

@-webkit-keyframes 'hide' {
  from {
      opacity: 0;
  }
  to {
      opacity: 0;
  }
}

@-webkit-keyframes 'flip' {
  0% {
    -webkit-transform: rotateX(-90deg) rotateZ(-45deg);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  }
}
