html, body {
    font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
    width: 300px;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    margin: 5px;
}

.container, .board, .board:before {
    width: 300px;
    height: 80px;
    -webkit-border-radius: 5px;
}

.board:before{
    content:"";
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    position: absolute;
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255, .7) 0%,rgba(255,255,255,0) 100%);
}

.board {
    z-index: 1;
    position: relative;
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    -webkit-box-shadow: 3px 3px 5px 0 black;
}

.slice1, .slice2, .slice3, .slice4, .slice5 {
    position: absolute;
    width: 20%;
    overflow: hidden;
}

.slice1{
    left:0;
    div {
        left: 0;
    }
}

.slice2{
    left:20%;
    div {
        left: -60px;
    }
}

.slice3{
    left:40%;
    div {
        left: -120px;
    }
}

.slice4{
    left:60%;
    div {
        left: -180px;
    }
}

.slice5{
    left:80%;
    div {
        left: -240px;
    }
}

.text {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 250px;
    height: 80px;
}

h1 {
    max-width: 230px;
    max-height: 17px;
    overflow: hidden;
    margin: 10px;
    color: white;
    font-size: 14px;
}

p {
    max-width: 230px;
    max-height: 30px;
    overflow: hidden;
    margin: 10px;
    font-size: 12px;
}

img {
    z-index: 20;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 5px;
    top: 15px;
}

